<div class="row">
	<h3>{{question.prompt}}</h3>
</div>

<div class="list list-inset"  style="text-align: left;">
	<div class="item" ng-click="vote(7)">7</div>
	<div class="item" ng-click="vote(6)">6  {{question[6]}}</div>
	<div class="item" ng-click="vote(5)">5</div>
	<div class="item" ng-click="vote(4)">4  {{question[4]}}</div>
	<div class="item" ng-click="vote(3)">3</div>
	<div class="item" ng-click="vote(2)">2  {{question[2]}}</div>
	<div class="item" ng-click="vote(1)">1</div>
</div>

<div class="row">
	<div class="col" ng-click="pass()">
		<button class="button">Pass</button>
	</div>
	<div class="col" ng-click="idk()">
		<button class="button">I Don't Know</button>
	</div>
</div>