<ion-view>
	<div class="row">
		<div class="col">
			<a class="button button-small" ui-sref="team.createPlayer">Create Player</a>
		</div>
		<div class="col">
			<a class="button button-small" ui-sref="team.editRoster">Edit Teams</a>
		</div>
		<div class="col">
			<a class="button button-small" ui-sref="team.createTeam">Create Team</a>	
		</div>
	</div>
	<div ui-view></div>
</ion-view>


<!-- Manage Team -->
	<!-- add players -->
	<!-- pop players -->
	<!-- edit players -->
		<!-- attach emails/edit -->
		<!-- can't edit verified players -->
<!-- create Team -->
<!-- create Player -->
<!-- Add/Drop players -->

<!-- QuickGame -->
	<!-- QuickAdd -->
		<!-- type in name -> submit M/F -> start new one; Done below it -->
		<!-- display roster below -->
	<!-- Game (quick mode) -->
		<!-- quickAdd players -->