<ion-view>

	<div class="button-bar">
		<a class="button button-small" ui-sref="team.createPlayer">Create Player</a>
		<a class="button button-small" ui-sref="team.editRoster">Edit Roster</a>
		<a class="button button-small" ui-sref="team.createTeam">Create Team</a>	
		<!-- dark grey? -->
	</div>
	<div ui-view></div>
	<div class="bar button-bar bar-footer" style="background-color: black; border: none">
		<button style="text-align: center;" class="button button-balanced dark"  ui-sref="game.liveGame">Game on!</button>
	</div>
</ion-view>