<ion-view>
	<ion-content>
	    <div ui-view></div>

		<h2>Welcome to Ketch!</h2>
		<p>What's your deal, man?</p>
		<a class="button button-block" ui-sref="welcome.login">I have an email registered with Ketch</a>

		<a class="button button-block" ui-sref="welcome.createSelf">I have not registered an email with Ketch</a>

		<a class="button button-block" ui-sref="team.createTeam">This is no time for idle chit-chat, bro. I got a game in five minutes and I've never even used this thing before. Just let me make a team and add my teammates really quick and then we can talk about this permanent account nonsense some other time.</a>
		<!-- temp mode functionality -->
			<!-- we'll take you to the team management screen; add in yourself and your teammates and you'll be good to go! -->

	</ion-content>
</ion-view>
<!-- handle switching between the three in the future -->