<h2>Welcome to Ketch!</h2>
<div class="row">

	<p>What's your deal, man?</p>
	<button class="button">I have an email address registered with Ketch</button>
	<div>
		<label class="item item-input">
		    <input type="text" placeholder="Email">
		</label>
		<label class="item item-input">
		    <input type="password" placeholder="Password">
		</label>
		<button class="button button-positive" ng-click="login()">Submit</button>
	</div>

	<button class="button">I have not registered an email address with Ketch but I'd be down for that if that's what you're into</button>
	<div>
		<label class="item item-input">
		    <input type="text" placeholder="Email">
		</label>
		<label class="item item-input">
		    <input type="password" placeholder="Password">
		</label>
		<label class="item item-input">
		    <input type="password" placeholder="Confirm Password">
		</label>
		<button class="button button-positive" ng-click="register()">Submit</button>
	</div>

	<button class="button" ng-click="quickMode()">This is no time for idle chit-chat, bro. I got a game in five minutes and I've never even used this thing before. Just let me make a team and add my teammates really quick and then we can talk about this permanent account nonsense some other time.</button>
	<!-- temp mode functionality -->
		<!-- we'll take you to the team management screen; add in yourself and your teammates and you'll be good to go! -->

</div>

<!-- handle switching between the three in the future -->