/*.background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: black;
    color: white;
}
*/
.scoreboard {
	font-size: 5em;
	font-weight: bold;
}

body {
	text-align: center;
	transition: 1s ease-in-ease-out linear; 
}

.align-left {
	text-align: left;
}