<div>

	<label class="item item-input">
		<input type="text" ng-model="player.firstName" placeholder="First Name*" required>
	</label>
	<label class="item item-input">
		<input type="text" ng-model="player.lastName"  placeholder="Last Name*" required>
	</label>
	<label class="item item-input">
		<input type="text" ng-model="player.handle" placeholder="Nickname">
	</label>
	<label class="item item-input">
		<input type="text" ng-model="player.email" placeholder="Email">
	</label>
	<p>(Email is not immediately required, but it will make it much easier to link up your players in the future!)</p>

	<h4>Add to teams:</h4>
	<div class="list"> <!-- list teams, click "on" to add new player to those teams -->
		<div class="item item-toggle align-left" ng-repeat="team in globalData.teams">
			{{team.name}}
			<label class="toggle">
				<input ng-model="addTo[team._id]" type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
	</div>
	<!-- add display: if no teams -> We recommend creating teams first! -->

	<!-- when switching views after submitting $scope.player still persists -->

	<button class="button button-positive" ng-click="submitPlayer('m')">New Guy</button>
	<button class="button button-assertive" ng-click="submitPlayer('f')">New Girl</button>

	<p ng-show="errorMessage">{{errorMessage}}</p>

</div>