<div>
	<div ng-hide="globalData.teams" class="row">
		<p>No teams to edit!</p>
	</div>

	<div> <!-- List local teams; click to edit -->
		<h4>Edit Rosters</h4>
		<ul class="list">
			<li class="item align-left" ng-hide="editing" ng-repeat="team in globalData.teams" ng-click="editTeam(team)">{{team.name}}</li>
		</ul>
		<!-- teamControl.globalData -->
	</div>

	<div> <!-- Display team being edited with "Done" button -->
		<ul class="list" ng-show="editing">
			<li class="item item-button-right">
				{{team.name}}
				<button class="button button-positive" ng-click="editTeam(team)">Done</button>
			</li>
		</ul>

		<!-- Editing Player -->
		<ul class="list" ng-show="editingPlayer">
			<!-- <li class="item item-button-right" ng-repeat="attr in [firstName, lastName, handle, email]">
				{{editingPlayer.attr}}
				<button class="button button-positive" ng-click="saveEdits(editingPlayer)">Done</button>
				}
			</li> -->
		</ul>

		<div class="row" ng-hide="editingPlayer"> <!-- display Roster and every player in Friends -->
			<div class="col">ROSTER<br>
				<span ng-repeat="playerID in editing.roster" ng-click="editPlayer(player)">{{populated[playerID].handle}}<br></span>
			</div>
			<div class="col">FRIENDS<br>
				<span ng-repeat="player in globalData.friends" ng-click="addToRoster(player, editing._id)">{{player.firstName}} {{player.lastName}}<br></span>
				<!-- add functionality: hide if in roster -->
				<!-- add styling: icons/buttons/something -->
			</div>
		</div>
	</div>
</div>