<div ng-show="view['editTeams']">

	<div ng-hide="globalData.teams" class="row">
		<p>No teams to edit!</p>
	</div>

	<div ng-show="globalData.teams" ng-hide="editing">
		<h4>Edit Teams</h4>
		<ul class="list">
			<li class="item" ng-repeat="team in globalData.teams" ng-click="edit(team)">{{team.name}}</li>
		</ul>
	</div>

	<div ng-show="editing">
		<ul class="list">
			<li class="item item-button-right">
				{{editing.name}}
				<button class="button button-positive" ng-click="edit(editing)">Done</button>
			</li>
		</ul>

		<div class="row">
			<div class="col">ROSTER<br><span ng-repeat="player in editing.roster" ng-click="editFocus(player)">{{player.handle}}<br></span></div>
			<div class="col">FRIENDS<br><span ng-repeat="player in globalData.friends" ng-click="addToRoster(player)">{{player.handle}}<br></span></div>
		</div>
		<!-- two columns: players on roster, available players -->
	</div>

</div>