<div>
	<div> 
		<h4>Edit Rosters</h4>
		<ul class="list">
			<li class="item align-left" ng-hide="editing" ng-repeat="team in $root.teams" ng-click="editTeam(team)">{{team.name}}</li>
		</ul>

	</div>

	<div> <!-- Display team being edited with "Done" button -->
		<ul class="list" ng-show="editing">
			<li class="item item-button-right">
				{{editing.name}}
				<button class="button button-positive" ng-click="editTeam(team)">Done</button>
			</li>
		</ul>

		<div class="row" ng-show="editing"> <!-- display Roster and every player in Friends -->
			<div class="col">ROSTER<br>
				<span ng-repeat="player in editing.roster" ng-click="editPlayer(player)" ui-sref="team.editPlayer" >{{player.handle}}<br></span>
			</div>
			<div class="col">FRIENDS<br>
				<span ng-repeat="player in $root.players" ng-click="addToRoster(player, editing)">{{player.handle}}<br></span>
				<!-- add functionality: hide if in roster -->
			</div>
		</div>
	</div>
</div>