<div class="row">
	<div class="col">vs. {{opponent}}</div>
</div>

<div class="row" ng-repeat="point in $root.gameSummary">
	<div class="col col-40">
		<div ng-show="point.result">
			<p>Line: <span ng-repeat="player in point.line">{{player.handle}} </span></p>
			<p>{{point.stats}}</p>
		</div>
	</div>

	<div class="col col-20">
		<h3>{{point.score[0]}} - {{point.score[1]}}</h3>
	</div>

	<div class="col col-40">
		<div ng-hide="point.result">
			<p>Line: 
			<span ng-repeat="player in point.line">{{player.handle}} </span></p>
			<p>{{point.stats}}</p>
		</div>
	</div>
</div>

<a ui-sref="game.liveGame">Back to Game</a>